body {
    background-color: #2E8B57;
}
.Text{
	/* margin-left: 40px;
	margin-top: 10px; */
	color:aliceblue ;
	display: flex; 
	margin-top: -10px;
}
.col {
	/* display: inline-block; */
	width: 10%;
	height: 30%;
	margin-left: 40px;
	margin-top: 10px; 
	font-size: 30px;
	
}
.cols{
	margin-left: 325px;
	width: 40%;
	margin-top: 20px; 
	font-size: 30px;
}
.JPG{
	margin-left: 0px;
}
.al{
	display: inline-block;
	width: 400px;
	height: 190px;
	padding: 10px;
	margin-left: 25px;
}
.als{
	display: inline-block;
	width: 400px;
	height: 190px;
	padding: 10px;
	margin-left: 50px;
}
img {
	width: 115%;
	height: 180%;
	
 }